.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #0857f7;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  margin-left: 20px;
}

.App-formdialog{
  animation: App-formdialog infinite 10s ease-out;
  height: 20vmin;
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-formdialog {
  0% {
    transform: translate(0px, 0px) rotateZ(0.001deg);  
    animation-timing-function:ease-in-out
   }
   50% {
     transform: translate(0px, 12px) rotateZ(0.001deg);
     animation-timing-function:ease-in-out
   }
   100% {
    transform: translate(0px, 0px) rotateZ(0.001deg);
    animation-timing-function:ease-in-out
   }
}