.App {
  text-align: center;
}

.App-logo {
  height: 30vmin;
}


.App-side {
  background-color: #2011f7;
  min-height: 50vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(243, 116, 116);
  float: left;
}

.App-header {
  background-color: #ffffff;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: rgb(49, 14, 14);
  float: center;

}


.App-main {
  background-color: #ffffff;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: rgb(49, 14, 14);

}


.App-link {
  color: #61dafb;
}

.App-privacyLink {
  margin-top: 40px;
  color: #61dafb;
  
}

